<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="username" value="nigeria_tenant_admin"></parameter>
    <parameter name="password" value="TnvLOl54WxR75vylop2A"></parameter>
    <parameter name="path" value="/Users/sumeyracivelek/Selenium/ChromeDriver/chromedriver"></parameter>
    <test name="project">
        <classes>
            <class name="Project10test"></class>

        </classes>
    </test>
</suite>